default install
prompt 1
timeout 30

#Install i386 Linux
label install
  kernel linux
  append initrd=initrd splash=silent vga=0x314 showopts install=http://10.20.30.1/dvd autoyast=http://10.20.30.1/dvd/autoyast/autoyast.xml